<header>

    <article>
        <nav class="nav" id="topNav">
            <!-- LOGO -->
            <h1>
                <a class="nav-text paw-internet" href="/">Pets<i class="fas fa-paw"></i>travel</a>
            </h1>

            <!-- SEARCH FORM!! -->
            <form class="formSearch formSearchClosed" action="/search" method="GET">
                    <label for="make_search">
                        <input id="make_search" type="text" placeholder="Search for places like New York, Tokio, São Paulo, Mexico City, Johannesburg, Oslo, etc..." name="search">
                    </label>
            </form>
            <!-- <p class="search-mobile-icon"><i class="fas fa-search"></i></p> -->

            <!-- CURRENT USER DROWDOWN AND BURGUER -->

                <% if(!currentUser){ %>
            <div class="nav-links">   
                <p class="currentUser userResized"><a class="nav-text" href="/login">Login</a></p>
               <p class="currentUser userResized"><a class="nav-text" href="/register">Sign Up</a></p>
            </div>
               <% } else { %>
                <div class="dropdown dropdownHoverEffect">
                    <p class="UserNameNot"><a class="nav-text" href="/user/<%= currentUser._id %>"> <%= currentUser.username %> </a></p>
                    <div class="dropdown-content">
                        <p><a href="/user/<%= currentUser._id %>/info">User Informations</a></p>
                        <p><a href="/user/<%= currentUser._id %>/add_pet">Add New Pet</a></p>
                        <p><a href="/user/<%= currentUser._id %>/show_pet">View Your Pets</a></p>
                        <p><a href="/user/<%= currentUser._id %>/reviews">Your Reviews</a></p>
                        <p><a href="/logout">Logout</a></p>
                    </div>
                </div>
               <% }; %>

            <!-- BURGUER -->

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </article>
</header>