<% include ./partials/header %>

<% include ./partials/bodyHeader %>

<main class="results-container">
<!-- PAGINATION TOP -->
<% include ./partials/pagination %>
<!-- FLASH MESSAGES-->
<% include ./partials/flashMessages %>
<section class="results-wrapper">
<!-- SEARCH RESULTS -->
        <% if(results){ %>
        <%  if(list.length > 0){ %>
        <!-- <b>Resultados da pesquisa por:</b> -->
        <% list.forEach(function(hotel){ %>
        <article class="result-card">
                <% for(var i = 4; i < hotel.image.length; i++){ %>
                <img class="card-img" src="<%= hotel.image[i] %>" alt="...">
                <% }; %>
                    <p class="card-title"><%= hotel.title %></p>
                    <p class="card-stars"> <%= hotel.stars %>/stars</p>
                    <p class="card-address"><i class="fas fa-map-marker-alt"></i><%= hotel.street %>, <%= hotel.city %> - <%= hotel.country %></p>  
                    <p class="card-description"><%= hotel.description.substring(0,100) %>...</p>
                    <p class="card-price">$<%= hotel.price %>/night </p>
                    <a class="card-btn" href="/search/<%= hotel._id %>" method="GET">See more Infos!</a>
                </article>
                <% }); %>
            <%  } %>
        <% } %>
    </section>
       
 <!-- PAGINATION BOTTON -->

<% include ./partials/pagination %>

</main>
<% include ./partials/footer %>