<% include ./partials/header %>
<% include ./partials/bodyHeader %>
<main class="show-container">
            <% include ./partials/flashMessages %>
        <section class="show-wrapper">
        <article class="show-card">

        <ul class="show-card-top-bottom">
            <li class="show-card-title"><%= hotel.title %></li>
            <li class="show-card-stars"><%= hotel.stars %>/stars</li>
            <li class="show-card-address"><i class="fas fa-map-marker-alt"></i><%= hotel.street %>, <%= hotel.city %> - <%= hotel.country %></li>  
        </ul>

            <!-- IMAGE SLIDER STARTS HERE -->
                <div id="slider">
                    <figure>
                    <% for(var i = 0; i < hotel.image.length; i++){ %>
                        <img src="<%= hotel.image[i] %>">
                    <% }; %>
                </figure>
                </div>
            <!-- IMAGE SLIDER FINISH HERE -->
            
            <ul class="show-card-top-bottom">
                    <li class="show-card-description"><%= hotel.description %></li>
                        <li class="show-card-price">$ <%= hotel.price %>/night </li>
                        <li class="show-card-btn" ><a class="show-card-btn-link" href="#">Goes to the <%= hotel.title %>'s page for more info!</a></li class="show-card-btn">
            </ul>
                </article>
                </section>
                
                <!-- REVIEWS STARTS HERE -->
                <section class="review-background">
                        <h2 class="review-section">Reviews</h2>
                        <p class="review-link-p">
                            <a class="review-link" href="/search/<%= hotel._id %>/comments/new">Make a new one!</a class="review-link" >
                        </p>
                            <div class="review-wrapper">
                            <% hotel.comments.forEach(function(comment){ %> 
                            <article  class="review-card">
                            <p class="review-score"><%= comment.score %></p>
                            <p class="review-title"> "<%= comment.title %>" </p>
                            <p class="review-comment"> <%- comment.content %></p>
                            <p class="review-submitted">By: <%= comment.author.username %></p>
                            <p class="review-date"><%= comment.created.toDateString() %></p>

                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div class="review-btn">
                                    <a class="edit" href="/search/<%= hotel._id %>/comments/<%= comment._id %>/edit">
                                        Edit
                                    </a>
                                    <form action="/search/<%= hotel._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <label for="delete">
                                            <input class="delete" id="delete" type="submit" value="Delete">
                                        </label>
                                    </form>
                                </div>
                                <% }; %>
                            </article >
                                <% }); %>
                          
                    </div>
                </section>
</main>

<% include ./partials/footer %>