<% include ./partials/header %>
<% include ./partials/bodyHeader %>
                <main>
                <section class="show-container">
                <% include ./partials/flashMessages %>
                <div class="review-background">
                    <h1 class="review-section"> Yours Pets </h1>
                    <div class="review-wrapper">
                    <% pets.forEach(function(pets){ %>
                        <div class="review-card">                     
                            <p class="review-title">Nick: "<%= pets.petName %>" </p>
                            <div class="birth-wrapper">
                                <% var birth = pets.birth; %>
    
                                <% for(var i = 0; i <birth.length; i++) { %>
                                    <p class="pet-information birth"><%= birth[i] %></p>
                                   <% } %>
                                </div>
                            <p class="pet-information">It's a: <%= pets.dog %> <%= pets.cat %> </p>
                            <p class="pet-information">Breed: <%= pets.breed %> </p>
                            <p class="review-comment"> <%= pets.description %> </p>

                        <div class="review-btn"> 
                                <a class="edit" href="/user/<%= currentUser._id %>/show_pet/<%= pets._id %>/edit">
                                    Edit
                                </a>
                            
                            <form action="/user/<%= currentUser._id %>/show_pet/<%= pets._id %>?_method=DELETE" method="POST">
                                <label for="delete">
                                    <input class="delete" id="delete" type="submit" value="Delete">
                                </label>
                            </form>
                            </div>
        
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                    <% }); %>
                    </div>
                </div>
                    </section>
                </main>

                <% include ./partials/footer %>

                <scrip>
                    <!-- quando o dog for true, não mostrar o cat e vice e versa-->
                </scrip>