<% include ./partials/header %>
<% include ./partials/bodyHeader %>
<main class="o-main">
    <section class="main-container">
            <% include ./partials/flashMessages %>
            <div class="review-container">
        <header class="item-header">
            <h1><%= hotel.title %></h1>
            <p> <strong><%= hotel.stars %></strong>/stars</p>
        </header>
            <small><%= hotel.street %>, <%= hotel.city %> - <%= hotel.state %>, <%= hotel.country %></small>  

            <div class="slider-holder">
                <span id="slider-image-1"></span>
                <span id="slider-image-2"></span>
                <span id="slider-image-3"></span>
                <span id="slider-image-4"></span>
                <span id="slider-image-5"></span>

                <div class="image-holder">
                    <% for(var i = 0; i < hotel.image.length; i++){ %>
                        <img src="<%= hotel.image[i] %>" class="slider-image">
                    <% }; %>
                </div>
                    <div class="button-holder">
                        <a href="#slider-image-1" class="slider-change"></a>
                        <a href="#slider-image-2" class="slider-change"></a>
                        <a href="#slider-image-3" class="slider-change"></a>
                        <a href="#slider-image-4" class="slider-change"></a>
                        <a href="#slider-image-5" class="slider-change"></a>
                    </div>
            </div>
                <div class="description">
                    <p><%= hotel.description %></p>
                </div>
                    <div class="price-link">
                        <p>$ <%= hotel.price %>/night </p>
                        <a href="#">Goes to the <%= hotel.title %>'s page for more info!</a>
                    </div>      
                </div>
                <hr>
                    <div class="review-container">
                    <div class="review-title">
                        <h2>Reviews</h2>
                            <a href="/search/<%= hotel._id %>/comments/new">
                            <strong>Make a new one!</strong>
                            </a>
                    </div>
                        
                            <% hotel.comments.forEach(function(comment){ %> 
                        <div class="content-review">
                        <div class="title-review">
                            <p class="rating"><%= comment.score %></p>
                            <p class="comment-title"> "<%= comment.title %>" </p>
                        </div>
                        <hr>
                            <p class="comment"> <%= comment.content %> </p>
                                <div class="date">
                                    <p><strong> By: <%= comment.author.username %> </strong></p>
                                    <p><%= comment.created.toDateString() %></p>
                                </div>
                        </div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div class="review-btn">     
                                    <a class="edit" href="/search/<%= hotel._id %>/comments/<%= comment._id %>/edit">
                                        Edit
                                    </a>
                                    <form action="/search/<%= hotel._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <label for="delete">
                                            <input class="delete" id="delete" type="submit" value="Delete">
                                        </label>
                                    </form>
                                </div>
                                <% }; %>
                                <% }); %>
                            </div>
    </section>
</main>

<% include ./partials/footer %>