<% include ./partials/header %>
<% include ./partials/bodyHeader %>
                <main>
                    <section class="show-container">
                <% include ./partials/flashMessages %>
                <div class="review-background">
                    <h1 class="review-section"> Your Reviews: </h1> 
                    <div class="review-wrapper">
                    <% comments.forEach(function(review){ %>
                        <div class="review-card">
        
                            <p class="review-score"><%= review.score %></p>
                                <p class="review-title"> "<%= review.title %>" </p>
                                <p class="review-comment"> <%= review.content %></p>
                                <p class="review-submitted">By: <%= review.author.username %></p>
                                <p class="review-date"><%= review.created.toDateString() %></p>
                        </div>
                    <% }); %>
                    
                    </div>
                    </div>
                </section>
                </main>
                <% include ./partials/footer %>