<% include ./partials/header %>
<% include ./partials/bodyHeader %>
                <main class="o-main">
                    <section class="main-container">
                    <% include ./partials/flashMessages %>
                    <h1 class="user-title"> <%= currentUser.username %>'s information: </h1>
                    <div class="result-card">
                    <div class="result-info">
                        <ul>
                            <li>First Name: <%= user.firstName %> </li>
                            <li>Last Name: <%= user.lastName %> </li>
                            <li> Username: <%= user.username %> </li>
                            <li>Birthday: <%= user.birth %> </li>
                            <li>E-mail: <%= user.email %> </li>
                            <li>Password: password</li>
                        </ul>
                        <div class="pet-btn">
                                <a class="edit" href="/user/<%= currentUser._id %>/info/edit">
                                    Edit
                                </a>
                
                        <form action="/user/<%= currentUser._id %>/info?_method=DELETE" method="POST">
                            <label for="delete">
                                    <input class="delete" id="delete" type="submit" value="Delete yourself :(">
                            </label>
                        </form>
                    </div>
                    </div>
                    </div>
                    </section>
                </main>
                <% include ./partials/footer %>