<% include ./partials/header %>
<% include ./partials/bodyHeader %>

<main class="o-main">
    <section class="main-container">
    <% include ./partials/flashMessages %>
    <h1 class="user-title">Owner informations Edit: </h1>
    <div class="user-container">
        <form class="user-form" action="/user/<%= currentUser._id %>/info?_method=PUT" method="POST">
            <label for="firstName">First Name</label>
            <input id="firstName" class="input" type="text" name="user[firstName]" placeholder="first name" value="<%= currentUser.firstName %>">
                            
            <label for="lastName">Last Name</label>
            <input id="lastName" class="input" type="text" name="user[lastName]" placeholder="last name" value="<%= currentUser.lastName %>">
                            
            <label for="username">User name</label>
            <input id="username" class="input" type="text" name="user[username]" placeholder="username" value="<%= currentUser.username %>">
                            
            <label for="birth">Birthday</label>
            <input id="birth" class="input" type="date" name="user[birth]" value="<%= currentUser.birth %>">
                            
            <label for="email">Email</label>
            <input id="email" class="input" type="email" name="user[email]" placeholder="email" value="<%= currentUser.email %>">
                            
            <p>password</p>
 
            <button>Confirm</button>
        </form>
    </div>
    </section>
</main>
<% include ./partials/footer %>