<% include ./partials/header %>
<% include ./partials/bodyHeader %>
<main class="show-container">
    <section class="review-background">
        <!-- FLASH MESSAGES -->
        <% include ./partials/flashMessages %>
        <h1 class="show-card-title"> <%= user.username %>'s Profile </h1>
        <article class="review-wrapper">
            <div class="profile-card">
                    
                    <ul class="user-info">
                        <li><i class="far fa-id-card userIcon"></i> <%= user.firstName %> <%= user.lastName %> </li>
                        <li><i class="fas fa-id-card-alt userIcon"></i> <%= user.username %></li>
                        <li><i class="fas fa-map-marked-alt userIcon"></i> <%= user.from %></li>
                    </ul>

                    <ul class="birth-wrapper user-info">
                        <li class="user-info-li"><i class="fas fa-birthday-cake userIcon"></i> </li>
                        <% var birth = user.birth; %>
                        <% for(var i = 0; i <birth.length; i++) { %>
                        <li class="birth"><%= birth[i] %></li>
                        <% } %>
                    </ul>

                    <ul class="user-info">
                        <li>About Me: </li>
                        <li> <%= user.aboutMe %></li>
                    </ul>
                    </div>
        </article>
    </section>
    <!-- PETS SECTION STARTS HERE -->
    <section class="review-background">
        <h2 class="review-section"> <%= user.username %>'s Pets </h2>

            <div class="review-wrapper">
            <% user.pets.forEach(function(pets){ %> 
            <article  class="review-card">
            <p class="review-title">Nick: "<%= pets.petName %>" </p>
            <div class="birth-wrapper">
                <% var birth = pets.birth; %>

                <% for(var i = 0; i <birth.length; i++) { %>
                    <p class="pet-information birth"><%= birth[i] %></p>
                   <% } %>
                </div>
                <p class="pet-information">It's a: <%= pets.dog %> <%= pets.cat %> </p>
                <p class="pet-information">Breed: <%= pets.breed %> </p>
                <p class="review-comment"> <%= pets.description %> </p>
            </article >
                <% }); %>
    </div>
</section>
</main>
<% include ./partials/footer %>